{% extends "COLLEGE/base.html" %}
{% load static %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-3">GENARATING COLLEGE LIST </h1>
    <p class="lead text-info bg-dark text-center mx-5">check your ALL COLLEGE List</p>
    <hr class="my-2">
    <p><h3 class="lead text-info bg-dark text-center mx-5">SAVED YOUR DATA </h3></p>
    <p class="lead">
        <a class="lead bg-dark btn btn-info text-center  text-white mx-5" href="{% url 'home' %}" role="button">BACK TO HEME</a>
    </p>
</div>
{% endblock %}