{% extends "COLLEGE/base.html" %}
{% load static %}
{% block content %}


    

    <h1 class="text-center text-primary"><a href="{% url 'allcolleges' %}"  class="btn btn-primary" title="ALL  university Detailes"><< Previeous</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VIKRAMA SHIMHAPURI UNIVERSITY&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'yvu' %}"  class="btn btn-primary" title="yoivemuna university Detailes">Next >></a></h1>
    <div class="jumbotron shadow">
        <div class="row">
            <div class="col-sm-6 col-xl-6">
                <img src="{% static 'COLLEGE/images/vsu.jpg' %}" alt="no images" class="img-responsive  img-thumbnail bg-dark" style="width:620px;height:200px">
            </div>
            <div class="col-sm-6 col-xl-6">
                <img src="{% static 'COLLEGE/images/vsu1.jpg' %}" alt="no images" class="img-responsive  img-thumbnail bg-info" style="width:620px;height:200px">
            </div>
        </div>
    </div>
<div class="jumbotron-fluid">
    <div class="row">
        <dic class="col-sm-6">
         
                <table class=" table-bordered table-shadow text-striped border-primary">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>FIRST&nbsp;NAME</th>
                            <th>LAST&nbsp;NAME</th>
                            <th>USER&nbsp;NAME</th>
                            <th>MOBILE&nbsp;&nbsp;NUMBER</th>
                            <th>EMAIL</th>
                            <th><a href="" class="btn btn-primary">COLLEGE</a></th>
                            <th>FEES</th>
                            <th>ADDMISION&nbsp;&nbsp;NUMBER</th>
                            <th>CITY</th>
                        </tr>
                    </thead>
                   
                    <tbody>
                        {% for i in vsu %}
                        <tr>
                           <td>{{forloop.counter}}</td>
                            <td>{{i.first_name}}</td>
                            <td>{{i.last_name}}</td>
                            <td>{{i.username}}</td>
                            <td>{{i.mobile}}</td>
                            <td>{{i.email}}</td>
                            <td>{{i.college}}</td>
                            <td>{{i.fees}}</td>
                            <td>{{i.addmision_numbers}}</td>
                            <td>{{i.city}}</td>
                            
                         
                           
                          </tr>
                          {% endfor %}
                    </tbody>
                    <tr>
                        <th>ID</th>
                        <th>FIRST&nbsp;NAME</th>
                        <th>LAST&nbsp;NAME</th>
                        <th>USER&nbsp;NAME</th>
                        <th>MOBILE&nbsp;&nbsp;NUMBER</th>
                        <th>EMAIL</th>
                        <th>COLLEGE</th>
                        <th>FEES</th>
                        <th>ADDMISION&nbsp;&nbsp;NUMBER</th>
                        <th>CITY</th>
                    </tr>
                </table>
        </dic>
    </div>
</div>

</div>





{% endblock %}