{% extends "COLLEGE/base.html" %}

{% block content %}



    <h1 class="text-center  text-success"></h1>
<div class="jumbotron-fluid">
    <div class="row">
        <dic class="col-sm-6">
         
            <table class=" table-bordered table-shadow text-striped border-success">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>FIRST&nbsp;NAME</th>
                            <th>LAST&nbsp;NAME</th>
                            <th>USER&nbsp;NAME</th>
                            <th>MOBILE&nbsp;&nbsp;NUMBER</th>
                            <th>EMAIL</th>
                            <th><a href="" class="btn btn-success"> COLLEGE</a></th>
                            <th>FEES</th>
                            <th>ADDMISION&nbsp;&nbsp;NUMBER</th>
                            <th>CITY</th>
                        </tr>
                    </thead>
                   
                    <tbody>
                        {% for i in yvu %}
                        <tr>
                           <td>{{forloop.counter}}</td>
                            <td>{{i.first_name}}</td>
                            <td>{{i.last_name}}</td>
                            <td>{{i.username}}</td>
                            <td>{{i.mobile}}</td>
                            <td>{{i.email}}</td>
                            <td>{{i.college}}</td>
                            <td>{{i.fees}}</td>
                            <td>{{i.addmision_numbers}}</td>
                            <td>{{i.city}}</td>
                            
                         
                           
                          </tr>
                          {% endfor %}
                    </tbody>
                    <tr>
                        <th>ID</th>
                        <th>FIRST&nbsp;NAME</th>
                        <th>LAST&nbsp;NAME</th>
                        <th>USER&nbsp;NAME</th>
                        <th>MOBILE&nbsp;&nbsp;NUMBER</th>
                        <th>EMAIL</th>
                        <th>COLLEGE</th>
                        <th>FEES</th>
                        <th>ADDMISION&nbsp;&nbsp;NUMBER</th>
                        <th>CITY</th>
                    </tr>
                </table>
        </dic>
    </div>
</div>

</div>



{% endblock %}

